<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="666" />
    <add key="mainForm.Location.Y" value="115" />
    <add key="mainForm.Width" value="588" />
    <add key="mainForm.Height" value="800" />
    <add key="/hdd/0/temperature/0/values" value="" />
    <add key="/hdd/0/load/0/values" value="" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAHv9Yo2Mku1dDwaGA/+Do+YwMoABh5PNxhQmBigwRmK/cysKOgZmHfh/5/lcqHoxJ2uFfSwMUPHO5hioeIDj+oMiR2Hi5p2X/GDs7zJ5UDU+jiFzk+Hmdz5JgrMlO0NlYOoB/ZLij6gAAAA=" />
    <add key="/nvidiagpu/0/fan/0/values" value="" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAHv9Yo2Mku1dDwaGA/83MN+IOMYAAgf+i3PEsDFA2RauhcdgbPPOS34w9lv1LiUYGwB/tiQpSAAAAA==" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAHv9Yo2Mku1dDwaGA/83MN+IOMYAAgf+i3PEsDFA2RauhcdgbPPOS34w9lv1LiUYGwB/tiQpSAAAAA==" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAHv9Yo2Mku1dDwaGA/83MN+IOMYAAgf+i3PEsDFA2RauhcdgbPPOS34w9lv1LiUYGwB/tiQpSAAAAA==" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAHv9Yo2Mku1dDwaGA/83MN+IOMYAAgf+i3PEsDFA2RauhcdgbPPOS34w9lv1LiUYGwB/tiQpSAAAAA==" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAHv9Yo2Mku1dDwaGA/83MN+IOMYAAgf+i3PEsDFA2RauhcdgbPPOS34w9lv1LiUYGwB/tiQpSAAAAA==" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAHv9Yo2Mku1dDwaGA/83MN+IOMYAAgf+i3PEsDFA2d3Li4/B2E/ULvjB2G/Vu5RgbAAnr+yrSAAAAA==" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAHv9Yo2Mku1dDwaGA/83MN+IOMYAAgf+i3PEsDFA2d3Li4/B2E/ULvjB2G/Vu5RgbAAnr+yrSAAAAA==" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAHv9Yo2Mku1dDwaGA/+Do+YwMoDAiwb7/KSTLDD2O7eioGNgzoH/d57PhauxVtgHUQMU72yOgYszqYgfhYk/UbvgB2N/l8mDq7nbeAxuvmRnqAxMDQCCkQDbkAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAHv9Yo2Mku1dDwaGA/+Do+YwMoBATq1rftJJFhj7nVtR0DEw58D/O8/nwtVYK+yDqAGKdzbHwMWZVMSPwsSfqF3wg7G/y+TB1dxtPAY3X7IzVAamBgAWo4yXkAAAAA==" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAHv9Yo2Mku1dDwaGA/+Do+YwMoCBqlN+0kkWGPudW1HQMTD7wP87z+fC1Vgr7IOqOfC/szkGLs6kIn4UJv5E7YIfjP1dJg+u5m7jMbj5kp2hMjA1AJO065+QAAAA" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAHv9Yo2Mku1dDwaGA/+Do+YwMoBBg2t+0kkWGPudW1HQMTD7wP87z+fC1Vgr7IOqOfC/szkGLs6kIn4UJv5E7YIfjP1dJg+u5m7jMbj5kp2hMjA1AKGCVqKQAAAA" />
    <add key="/nvidiagpu/0/control/0/values" value="" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAEud5iKjZHvXg4HhwP85DnOZGIAgWEbMqVI4Hcz23S3q9MQvCcw+N1/UqSIoJfAYiANUv9jpFBsDlM3oVngMxvZTveAHY3utZQfr5fju7jQzH2LOk8fuTqvzleRgagC1sh1YhAAAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEAEud5iKjZHvXg4HhwP85DnOZGIBghbCdQ6VwOph9ZoatwxO/JDD7T6mtQ0VQSuAxEAeofrHTKTYGKJvRrfAYjO2nesEPxvZayw7WG2NS6zAzH2KOgkytw+p8JTmYGgA0BvFYhAAAAA==" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAEud5iKjZHvXg4HhwP85DnOZGIDgiek8h0rhdDA7qHiewxO/JDB7V8s8h4qglMBjIA5Q/WKnU2wMUDajW+ExGNtP9YIfjO21lh2sV8S71mFmPsScgORah9X5SnIwNQAit7zQhAAAAA==" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEABP1MpFRsr3rwcBw4L9uHjcTAxCwdn52YNicAmafUQu1198IYXNcTbBvk/8ReAzEAaov7VQAizfs+ecgHLGchQEq/l+qmBHEeifl5tio9e8ITPx9xyU/GPtVVg1YjXPcDYfYuclgc1Kctto3PEkCsyO2LLLPFHGQgakHAFLyROqoAAAA" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEABP1MpFRsr3rwcBw4L9uHjcTAxCETNVxZNicAmYrWIva62+EsB3Kjtm1yf8IPAbiANWXdiqAxSUWqjoKRyxnYYCK/5cqZgSxZFcsd2zU+ncEJv6+45IfjP0qqwasRslHzjF2bjITRHyafcOTJChbzD5TxEEGph4ADyEopagAAAA=" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEABP1MpFRsr3rwcBw4L9uHjcTAxgkOjJsTgGzFazd7fU3QtjTbxyzb5P/EXgMrObA/9JOBbD4isl9DsIRy1kYoOL/pYoZQSytFU6OjVr/jsDE33dc8oOxX2XVgNW8nDfPIXZuMticCXOn2jc8SQKzdU5Ps88UcZCBqQcAp6Yhm6gAAAA=" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEABP1MpFRsr3rwcBw4L9uHjcTAxhMs2fYnAJmO5Qds9PfCGFvmuNp3yb/I/AYWM2B/6WdCmDxsP31DsIRy1kYoOL/pYoZQawpLIyOjVr/jsDE33dc8oOxX2XVgNUkBck4xM5NBpvDlPPLvuFJEpg9Ye4D+0wRBxmYegB6IPicqAAAAA==" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEABP1MpFRsr3rwcBw4L9uHjcTAxAUVfY6MGxOAbPvlJyy198IYSuc9rBvk/8ReAzEAaov7VQAi1vPC3AUjljOwgAV/y9VzAhi7cljdWzU+ncEJv6+45IfjP0qqwasJpRHxjF2bjITRHy9fcOTJDB7T8YJ+0wRBxmYegAun5CvqAAAAA==" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEAEvhtpZRsr3rwcBw4P+9NSxMDGDg5sSwOQXKtnXS34hglzT9CjwGZh/4364mBxWPdqqSXcPCABWfEZrHCGGnOxm8YzoKE5/WdckPxp6ytByqJsEpdm4y1Jxgp4YnSVC2v5Nhkp8MTD0AwAozk6gAAAA=" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEAEvhtpZRsr3rwcBw4P+9NSxMDGDg4sSwOQXKtnbS3whj2ziVNP0KPAZmH/jfriYHFQ9yqpJdw8IAFZ8RmscIYcc7GbxjOgoTn9Z1yQ/GnrK0HKom3Cl2bjLUHF+nhidJULank2GSnwxMPQBsjuNtqAAAAA==" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEAEvhtpZRsr3rwcBw4P+9NSxMDGBg48SwOQXKNnXS3whjGzuVNP0KPAZmH/jfriYHFfd0qpJdw8IAFZ8RmscIYYc7GbxjOgoTn9Z1yQ/GnrK0HKomwCl2bjLUHA+nhidJULabk2GSnwxMPQBzfmiBqAAAAA==" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEAEvhtpZRsr3rwcBw4P+9NSxMDGDg6cSwOQXKtnTS34hg/3v8J/AYmH3gv9Fdaah4vJMr6xoWBqj4jNA8Rgg7y8ngHdNRmPi0rkt+MPaUpeVQNclOsXOToeYEOjU8SYKyA5wMk/xkYOoBtT6Nf6gAAAA=" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAEvhtpZRsr3rwcBw4P+9NSxMDGDg58SwOQXKtnXS34hg/3v8J/AYmH3gv9Fdaah4spMr6xoWBqj4jNA8Rgg7z8ngHdNRmPi0rkt+MPaUpeVQNelOsXOToeaEODU8SYKyg50Mk/xkYOoBtKcKlKgAAAA=" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAEvhtpZRsr3rwcBw4P8tcz4mBiDw6jruZLMxBcy+13ncyRjKvgNkH4r6HHgMxAGq57giAxZ/ABTP51vNwgAVD52azwhifQKKF69jPAoTn9Z1yQ/GvqLXCFYjALQrZG4y2Jy7QPWdT5Lgdn284SIDUw8Aliu1sqgAAAA=" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAEvhtpZRsr3rwcBw4P9TAXYmBiBoabJ0Ld6QAmbX7LN3FdwEYS+84+S6qPFX4DEQB6heUk8GLM6eYuYat2U1CwNU/NDiPEYQi2migivbAqajMPFpXZf8YOzn7FVgNRNea7qGzE0GmyNh7uPa9SQJzLYTtHa9+99bBqYeANnMIdWoAAAA" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAEvhtpZRsr3rwcBw4H9xEScTAxCYuBm7vt6YAmbrHfN19YSytYHsFPkfgcdAHKD6kAgZsPhEX0dX5a7VLAxQcecveYwglo2dqmurP9NRmPi0rkt+MLZuVg1YjdpVE9eAuclgc/qA5sx/kgRms6zwcm2b6ykDUw8AlY1vVKgAAAA=" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAEvhtpZRsr3rwcBw4P+6q9xMDEBQ8Nnc1XhjCpitd8zXVQnK1gayOfZ+DTwG4gDVL22SAYuzr/ByvRS/moUBKn7XJZ8RxHqwzdD19T/GozDxaV2X/GDsxWfqwGrCmixdA+Ymg81JKw5yTX6SBGbf6XR39bF2l4GpBwCH97i9qAAAAA==" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEAEvhtpZRsr3rwcBw4P8tcz4mBiDIWuHlarMxBcyuZgpxNYayK4HsQ1GfA4+BOED1HFdkwOITfR1d8/lWszBAxUOn5jOCWEkxGq7F6xiPwsSndV3yg7Gv6DWC1azeZ+8aMjcZbI6EuY9r55MkOPvjDRcZmHoAa3v306gAAAA=" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAEvhtpZRsr3rwcBw4P8tcz4mBiCYU2DraLMxBcwWuiToaAxl/zcWcjwU9TnwGIgDVM9xRQYs7v7exDGfbzULA1Q8dGo+I4hlpproWLyO8ShMfFrXJT8Y+4peI1jNp9MNjiFzk8HmtLyVdex8kgRmp4ZIOH684SIDUw8AuGfNcagAAAA=" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAEvhtpZRsr3rwcBw4P8tcz4mBiB4sNzVwWZjCpjt8K7R3hjKZvPtsD8U9TnwGIgDVM9xRQYszueh5ZDPt5qFASoeOjWfEcR65tLlULyO8ShMfFrXJT8Y+4peI1hNq/ELh5C5yWBzJlZdse98kgRmtz5aYv/xhosMTD0ASZIT/6gAAAA=" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEAEvhtpZRsr3rwcBw4P8tcz4mBiDY0TnDzmZjCpgd77Ha1hjKntSyyvZQ1OfAYyAOUD3HFRmw+AHRN3b5fKtZGKDioVPzGUGsBps19sXrGI/CxKd1XfKDsa/oNYLVHDEwtA+Zmww25x6HpF3nkyQwe6VIgN3HGy4yMPUAAGMj/KgAAAA=" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEAEvhtpZRsr3rwcBw4P8tcz4mBiBI56ywt9mYAmZnyhXbG0PZLGeL7A9FfQ48BuIA1XNckQGL5z6osc/nW83CABUPnZrPCGJxpnXbF69jPAoTn9Z1yQ/GvqLXCFYTOXuyfcjcZLA52YGV9p1PksDsuKwy+483XGRg6gHT/1F9qAAAAA==" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="312" />
    <add key="treeView.Columns.Value.Width" value="125" />
    <add key="treeView.Columns.Min.Width" value="125" />
    <add key="treeView.Columns.Max.Width" value="125" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>